*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    font-size:22px;
    font-family:Helvetica;
    overflow:auto;
}

video, canvas{
    display:inline-block;
}

#source{
}

#mirror{
    display:none;
}

#capture{
    position:absolute;
    width:100%;
    height:100%;
    background:transparent;
    z-index:2;
    top:-100%;
    left:0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.455, 0.020, 0.000, 1.0);
    -o-transition: -o-transform 1s cubic-bezier(0.455, 0.020, 0.000, 1.0);
    -moz-transition: -moz-transform 1s cubic-bezier(0.455, 0.020, 0.000, 1.0);
    transition: transform 1s cubic-bezier(0.455, 0.020, 0.000, 1.0);
}

.videoSrc{
    height:60%;
    width:63%%;
    position:absolute;
    top:7%;
    left:0;
    background: hsla(120, 10%, 100%, 1);display:none;
    
}

.videoSrc video{
    top:0;
    width:50%;
    position:absolute;
    right:0;    
    display:none;
}

#selectedFrame{
    height:60%;
    width:63%;
    position:absolute;
    top:7%;
    left:0;
    background: hsla(200, 25%, 75%, 1)
}

#effects{
    height:60%%;
    width:37%;
    position:absolute;
    top:7%;
    right:0;
    background: hsla(300, 25%, 75%, 1)
}

.srcCapOpts{
    height:60%%;
    width:37%;
    position:absolute;
    top:7%;
    right:0;
    background: rgba(111,111,111,1);
}

#frames{
    height:300px;
    width:100%;
    max-height:33%;
    position:absolute;
    top:680px;
    left:0;
    background: hsla(100, 25%, 75%, 1);
    overflow-x:auto;
    
}
#frameset{
    height:100%;
    clear: both;
    white-space: nowrap;
    float: left;
}


#frames canvas{
    height:90%;
    margin:10px;
    display:inline;
    clear: both;
}

.reveal{
    height:33%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: rgba(35,20,210,0);
}
.knob{
    height:100%;
    width:150px;
    float:left;
    margin:10px;
}

.knob input{
    height:20%;
}

.knob .uxer-flatdial{
    display:none;
}
.knob label{
    font-weight:600;
}
.knob label, .knob p{
    font-size: 14px;
}

.sourceCapButton, .sourceCloseButton{
    background: rgba(200, 20, 45, 1);
    float:right;
    width:200px;
    height:50%;
    border:3px solid pink;
}

.snapShotButton{
    background: rgba(200, 20, 45, 1);
    position:absolute;
    width:200px;
    height:50%;
    bottom:0;
    right:0;
    border:3px solid pink;
}

.exposureButton{
    background: rgba(200, 20, 45, 1);
    position:absolute;
    width:200px;
    height:50%;
    top:0;
    right:0;
    border:3px solid pink;
}


.playButton{
    background: rgba(200, 20, 45, 1);
    position:absolute;
    width:200px;
    height:100%;
    border:3px solid pink;
    right:200px;
    top:0;
}

.topBar{
    height:200px;
    width:100%;
    position:absolute;
    top:480px;
    left:0;
    background: hsla(0, 0%, 55%, 1)
}
.render{
    min-height:500px;
    min-width:1280px;
    position:relative;
    top:0;
    left:0;
    background: rgba(210,210,210,0);
}

.renderCap{
    min-width:640px;
    position: absolute;
    top:0;
    left:0;
}

.srcVid{
    min-width:640px;
    position: absolute;
    top:0;
    right:0;
    margin-left:650px;
    z-index:3;
}
#compOpts{
    min-width:640px;
    position: absolute;
    top:0;
    right:0;
    margin-left:650px;
    height:480px;
    background:#abaacc;
}
#superOverlay{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#ffffff;
    display:none;
    z-index:500;
}
input[type=checkbox]:checked + .chessradio{
    border: 5px solid #fff;
    background: #000;
    
}

input[type=checkbox]:checked + .chessradio:after{
    content: '  inverted';
    color: #fff;
    padding:10px;
}

input[type=checkbox] + .chessradio:after{
    content: 'normal';
    color: #000;
    padding:10px;
}

.chessradio
{
    width: 100px;
    height: 25px;
    background: white;
    float: left;
    border-radius: 16px;
    border: 5px solid #000;
    margin:10px 7px;
}



